.image-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  column-gap: 24px;
  grid-auto-rows: auto;
}

@media screen and (min-width: 991px) {
  .image-grid {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

.image-grid img:hover {
  transform: scale(1.05);
  transition: transform .3s;
}